@import '../styles/Variables.scss';

.saveBtn,
.recoverBtn {
  width: 130px;
  height: 30px;
  margin-right: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: $colorDullOrange;
  color: $colorWhite;
  font-size: 16px;
  font-weight: 600;
}