@import '../styles/Variables.scss';

.movie__details1--img {
  margin: 20px;

}
.movie__details1--title {
  margin: 10px;
}
.movie__details1--Phrase {
  margin: 5px;
}
.movie__details1--btn {
  margin: 10px;
}