@import '../styles/Variables.scss';

.recipeNotFound {
  text-align: center;
  font-family: $fontTitle; 
  font-size: 25px;
  margin: 40px;
  color: $colorDullOrange;
}

.recipes__all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: auto;
  

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.recipes {
  list-style:none;
  border: solid 1px $colorDullOrange;
  border-radius: 5px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

