// Colores principales
$colorBlack: #000000;
$colorDarkGreenBlue: #114e4e;
$colorSlate: #3e5b65;
$colorDirtyBlue: #438792;
$colorHospitalGreen: #a2deaf;
$colorLightGreyBlue: #a0c0cf;
$colorSilver: #bfcdd0;
$colorPaleGrey: #dde9ed;
$colorBrownishGrey: #6b6b6b;
$colorGunmetal: #54585a;
$colorPlaceholder: #c5c5c5;
$colorWhite: #ffffff;
$colorLightKhaki: #f9f4dc;
$colorFadedOrange: #eab052;
$colorDullOrange: #e17334;
$colorTomato: #e95626;
$colorRustyRed: #bd1010;
$colorDriedBlood: #420101;

//Tipografias
$fontTitle: 'Sofia'; 
$fontText: 'Sofia';

